@charset "UTF-8";
@import "reset.css";

/* 모든 페이지 타이틀 영역 */
.title h1{
    margin-bottom: 20px;
}

/* 모든 페이지 contents 영역 */
.contents{
  width: 1100px;
  min-height: 550px;
  margin: 50px auto;
}

/* 공통 다이얼로그 스타일 */
.dialog-common {
  padding: 0;
  font-weight: 600;
}

.dialog-common .ui-btn-div {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.dialog-common button {
  width: 80px;
  height: 40px;
  border: 1px solid #503396;
  background-color: #503396;
  color: white;
  border-radius: 3px;
}

/* 타이틀 스타일 */
.dialog-common .ui-dialog-titlebar {
  background-color: #503396; /* 타이틀 배경색 */
  color: white; /* 텍스트 색상 */
  border: 2px solid #503396;
}

/* 콘텐츠 스타일 */
.dialog-common .ui-dialog-content {
  color: black; /* 텍스트 색상 */
  font-size: 14px; /* 적절한 폰트 크기 */
}

/* 닫기 버튼 숨김 */
.dialog-common .ui-dialog-titlebar-close {
  display: none;
}

/* 버튼 정렬 */
.dialog-common .ui-dialog-buttonpane {
  text-align: center !important;
}

.dialog-common .ui-dialog-buttonset {
  float: none !important;
  display: inline-block;
}
/* 공통 다이얼로그 스타일 */


/* 기본 알림창 dialog */
/*

.notice-dialog .ui-dialog{
  padding: 0;
  font-weight: 600;
}
.notice-dialog .ui-dialog .ui-btn-div{
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.notice-dialog .ui-dialog button{
  width: 80px;
  height: 40px;
  border: 1px solid #503396;
  background-color: #503396;
  color: white;
  border-radius: 3px;
}

.notice-dialog .ui-dialog-titlebar {
  background-color: #503396; !* 타이틀 배경색 *!
  color: white; !* 텍스트 색상 *!
  border: 2px solid #503396;
}
.notice-dialog .ui-dialog-content {
  color: black; !* 텍스트 색상을 명시적으로 설정 *!
  font-size: 14px; !* 적절한 폰트 크기를 설정 *!
}
.notice-dialog .ui-dialog-titlebar-close {
  display: none; !* 닫기 버튼 숨김 *!
}
!* 다이얼로그 버튼 가운데 정렬 *!
.ui-dialog-buttonpane {
  text-align: center !important; !* 버튼 가운데 정렬 *!
}
.ui-dialog-buttonset {
  float: none !important; !* 기본 float 제거 *!
  display: inline-block; !* 가운데 정렬 *!
}
*/

/* 기본 알림창 dialog */



/* 상단 메뉴바 Page Util */
.page-util {
    background-color: #f8f8f8; /* 배경색 */
    border-bottom: 1px solid #ddd; / 하단 경계선 /
    /*padding: 10px 0;*/
}
.page-util .inner-wrap {
    max-width: 1100px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬 */
    font-size: 14px;
    color: #333;
}

.page-util .location span {
    margin-right: 10px;
}

.page-util .location a {
    color: #0078ff;
    text-decoration: none;
    margin-left: 10px;
    pointer-events: none;
    cursor: default;
}

.page-util .location a:hover {
    text-decoration: none; /* 호버 효과 */
}

/* 페이지별 탭 */
.hightab {
  width: 1000px;
  margin: 0 auto;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}
.tab {
  padding: 10px 0;
  width: 150px; /* 탭의 고정 너비 */
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}
.tab.active {
  border-bottom: 2px solid #6a5acd;
  color: #6a5acd;
}
.content {
  display: none;
  margin-top: 20px;
}
.content.active {
  display: block;
}

/* 상세 페이지 헤더 색상 : white */
#header {
  background-color: #fff;
}
#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#header .container {
  position: relative;
  width: 1100px;
  height: 91px;
  margin: 0 auto;
}
#header .logo a {
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
  display: block;
  width: 140px;
  height: 47px;
  text-indent: -9999px;
  background: url(images/logo-purple.png);
}
#header .util-area {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  font-size: 13px;
  color: #888;
}
#header .util-area .left-link {
  position: absolute;
  left: 0;
  top: 17px;
}
#header .util-area .left-link a {
  float: left;
  margin-right: 20px;
}
#header .util-area .right-link {
  position: absolute;
  right: 0;
  top: 17px;
}
#header .util-area .right-link a {
  float: left;
  margin-left: 20px;
}
#header .util-area .left-link a:hover,
#header .util-area .right-link a:hover {
  text-decoration: underline;
}
#header .link-area {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
#header .link-area a {
  display: block;
  position: absolute;
  top: 42px;
  width: 36px;
  height: 36px;
  font-size: 0;
  line-height: 0;
  background-position: center;
  background-repeat: no-repeat;
}
#header .link-area .sitemap {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap.png);
}
#header .link-area .search {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search.png);
  left: 40px;
}
#header .link-area .timetable {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule.png);
  right: 40px;
}
#header .link-area .mymega {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega.png);
  right: 0;
}

#header #gnb > ul {
  position: relative;
  width: 1100px;
}
#header #gnb > ul > li > a {
  display: block;
  position: absolute;
  top: 54px;
  height: 38px;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
#header #gnb > ul > li > a:hover {
  border-bottom: 3px solid #fff;
}
#header #gnb > ul > li > a:hover + .gnb-depth2 {
  display: block;
}

/* 상세 페이지 menu 아이콘 색상 : black */
#header #gnb .movie {
  background-image: url(images/gnb-txt-movie-black.png);
  left: 166px;
  width: 31px;
}
#header #gnb .reserve {
  background-image: url(images/gnb-txt-reserve-black.png);
  left: 256px;
  width: 31px;
}
#header #gnb .theater {
  background-image: url(images/gnb-txt-theater-black.png);
  left: 345px;
  width: 31px;
}
#header #gnb .event {
  background-image: url(images/gnb-txt-event-black.png);
  right: 347px;
  width: 45px;
}
#header #gnb .store {
  background-image: url(images/gnb-txt-store-black.png);
  right: 241px;
  width: 45px;
}
#header #gnb .benefit {
  background-image: url(images/gnb-txt-notice-black.png);
  right: 150px;
  width: 31px;
}
#header #gnb .gnb-depth2 {
  position: absolute;
  top: 90px;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  display: none;
  height: 40px;
  padding: 10px;
}
#header #gnb .gnb-depth2.movie-snb {
  left: 80px;
}
#header #gnb .gnb-depth2.movie-snb:hover {
  display: block;
}
#header #gnb .gnb-depth2.reserve-snb {
  left: 150px;
}
#header #gnb .gnb-depth2.reserve-snb:hover {
  display: block;
}
#header #gnb .gnb-depth2.theater-snb {
  left: 300px;
}
#header #gnb .gnb-depth2.theater-snb:hover {
  display: block;
}
#header #gnb .gnb-depth2.event-snb {
  right: 240px;
}
#header #gnb .gnb-depth2.event-snb:hover {
  display: block;
}
#header #gnb .gnb-depth2.benefit-snb {
  right: 80px;
}
#header #gnb .gnb-depth2.benefit-snb:hover {
  display: block;
}
#header #gnb .gnb-depth2 ul li {
  float: left;
  margin-right: 10px;
}
#header #gnb .gnb-depth2 ul li a:hover {
  text-decoration: underline;
}



/* footer */
#footer {
  position: relative;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #f8f8fa;
  font-size: 13px;
}
#footer .footer-top {
  width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  color: #666;
}
#footer .inner-wrap:after,
.inner-wrap:before {
  content: '';
  display: table;
  clear: both;
}
#footer .fnb {
  float: left;
}
#footer .fnb li {
  float: left;
  margin-right: 14px;
  line-height: 30px;
}
#footer .fnb li.privacy {
  font-weight: 700;
  color: #222;
}
#footer .footer-top .looking-theather {
  overflow: hidden;
  float: right;
  display: block;
  width: 106px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #d8d9db;
  border-radius: 30px;
}
#footer .footer-top .iconset {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
#footer .footer-top .ico-footer-search {
  width: 15px;
  height: 15px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);
}
#footer .footer-top .fnb a:hover {
  text-decoration: underline;
}

#footer .footer-bottom {
  color: #444;
}
#footer .footer-bottom {
  width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}
#footer .footer-bottom .ci {
  overflow: hidden;
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 50px;
  text-indent: -9999px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity.png);
}
#footer .footer-bottom .footer-info {
  float: left;
}
#footer .footer-bottom address {
  display: inline-block;
}
#footer .footer-bottom p {
  display: inline-block;
}
#footer .footer-bottom p.copy {
  display: block;
}
#footer .footer-bottom .footer-sns {
  float: right;
}
#footer .footer-bottom .footer-sns a {
  float: left;
  display: block;
  width: 32px;
  height: 30px;
  margin-left: 5px;
  font-size: 0;
  line-height: 0;
}
#footer .footer-bottom .footer-sns a i {
  display: block;
  width: 32px;
  height: 30px;
}
#footer .footer-bottom .footer-sns .iconset {
  background-repeat: no-repeat;
  background-position: 0 0;
}
#footer .footer-bottom .footer-sns .ico-twitter {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitter.png);
}
#footer .footer-bottom .footer-sns .ico-facebook {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebook.png);
}
#footer .footer-bottom .footer-sns .ico-instagram {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagram.png);
}
#footer .footer-bottom .footer-sns .ico-googleplay {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-googleplay.png);
}
#footer .footer-bottom .footer-sns .ico-appstore {
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-appstore.png);
}

/* 기타 */
h2.tit {
  font-weight: 400;
  color: #351f66;
  font-size: 2em;
}
.ico-more-corss {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-top: -4px;
  vertical-align: middle;
}
.ico-more-corss.gray {
  background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png);
}
.button {
  cursor: pointer;
}


/*page util 임시추가.*/
.page-util {
  background-color: #f8f8f8; /* 배경색 */
  border-bottom: 1px solid #ddd; / 하단 경계선 /
  /*padding: 10px 0;*/
}
.page-util .inner-wrap {
  max-width: 1100px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 왼쪽 정렬 */
  font-size: 14px;
  color: #333;
}
.page-util .location span {
  font-weight: bold;
  margin-right: 10px;
}
.page-util .location a {
  color: #0078ff;
  text-decoration: none;
  margin-left: 10px;
  pointer-events: none;
  cursor: default;
}
.page-util .location a:hover {
  text-decoration: none; /* 호버 효과 */
}

#header a {
    text-decoration: none;
}

#footer a {
    text-decoration: none;
}