body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.total-main {
    width: 1100px;
    margin: 50px auto;
}

.myPoint-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* 메인 */
.main-content {
    width: 850px;
}
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.section h1 {
    margin-bottom: 30px; /*다시 보기.*/
    font-size: 24px;
}

/* 조회 */
.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.filters input[type="radio"] {
    margin-right: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
table th {
    background-color: #f4f4f4;
}