
h1 {
    margin-bottom: 20px;
}

#contents{
    margin: 20px auto;
    height: auto;
    width: 1100px;
}
#main #section05 {
    position: relative;
    height: 100%;
    padding: 0 0 80px 0;
    background-color: #ffffff;
}
#main #section05 .cont-area {
    position: relative;
    overflow: auto;
    display: block;
    width: 1100px;
    margin: 0 auto;
}
#main #section05 .cont-area .tab-sorting {
    margin: 74px 0 20px 0;
    text-align: center;
}
#main #section05 .cont-area .tab-sorting button {
    border: 0;
    margin: 0 18px;
    padding: 0 0 5px 0;
    background-color: transparent;
    color: #aaa;
    font-size: 16px;
}
#main #section05 .cont-area .tab-sorting button:hover {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
#main #section05 .cont-area .tab-sorting button:focus {
    outline: 1px dotted #000;
}
#main #section05 .cont-area .tab-sorting button.on {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
#main #section05 .cont-area .more-movie {
    position: absolute;
    right: 0;
    top: 82px;
    color: #aaa;
    font-size: 15px;
}
#main #section05 .cont-area .more-movie:hover {
    text-decoration: underline;
}

#main #section05 .cont-area .main-movie-list ol {
    display: flex; /* Flexbox를 사용해 정렬 */
    flex-wrap: wrap; /* 여러 줄로 감싸기 */
    /*justify-content: space-between; !* 간격 조정 *!*/
    margin: 0;
    padding: 0;
    list-style: none;
}

#main #section05 .cont-area .main-movie-list ol li { /*수정01131717*/
    flex: 0 0 calc(25% - 10px); /* 4개씩 배치: 너비 25% */
    float: left;
    width: 245px;
    margin-left: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
#main #section05 .cont-area .main-movie-list .movie-list-info {
    /*position: relative;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 352px;*/
    border-radius: 5px;
    background-color: black;
    position: relative;
    display: block;
    width: 230px;
    height: 331px;
}
#main #section05 .cont-area .main-movie-list .movie-list-info .wrap {
    position: absolute;
    width: 230px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 25px;
    display: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
#main #section05 .cont-area .main-movie-list .movie-list-info .wrap .summary {
    height: 200px;
    overflow: hidden;
}
#main #section05 .cont-area .main-movie-list .movie-list-info .rank {
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px 0 0 15px;
    font-size: 2em;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#main #section05 .cont-area .main-movie-list .movie-list-info img {
    transition: all 0.2s ease-in-out;
}
#main #section05 .cont-area .main-movie-list .movie-list-info img.poster {
    width: 230px;
    height: 331px;
    border-radius: 5px;
}
#main #section05 .cont-area .main-movie-list .movie-list-info:hover img {
    opacity: 0.2;
}
#main #section05 .cont-area .main-movie-list .movie-list-info:hover .rank {
    opacity: 0.2;
}
#main #section05 .cont-area .main-movie-list .movie-list-info:hover .wrap {
    display: block;
}
#main #section05 .cont-area .main-movie-list .btn-util {
    width: 230px;
    margin-top: 8px;
    position: relative;
    padding: 0 0 0 85px;
}
#main #section05 .cont-area .main-movie-list .btn-util .btn-like {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 36px;
    color: #503396;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background-color: #fff;
}
#main #section05 .cont-area .main-movie-list .btn-util .btn-like i {
    margin-right: 5px;
}
#main #section05 .cont-area .main-movie-list .btn-util .case {
    height: 36px;
    color: #fff;
    border-radius: 5px;
}
#main #section05 .cont-area .main-movie-list .btn-util .case .button {
    float: left;
    text-align: center;
    line-height: 36px;
    width: 100%;
}
#main #section05 .cont-area .main-movie-list .btn-util .case.col2 .btn1 {
    background-color: #503396;
    border-radius: 4px 0 0 4px;
    width: 50%;
}
#main #section05 .cont-area .main-movie-list .btn-util .case .btn1 {
    background-color: #503396;
    border-radius: 4px;
}
#main #section05 .cont-area .main-movie-list .btn-util .case.col2 .btn2 {
    background-color: #503396;
    border-radius: 0 4px 4px 0;
    width: 50%;
}
#main #section05 .cont-area .search-link {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}
#main #section05 .cont-area .search-link .cell {
    float: right;
    width: 25%;
    color: white;
    text-align: center;
    border-left: 1px solid #423e3e;
}
#main #section05 .cont-area .search-link .cell a:hover {
    text-decoration: underline;
}
#main #section05 .cont-area .search-link .cell:first-child {
    border: none;
}
#main #section05 .cont-area .search-link .search {
    border-bottom: 1px solid #423e3e;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 30px;
}
#main #section05 .cont-area .search-link .search .input-text {
    display: inline-block;
    background-color: transparent;
    border: 0;
    color: #000;
    line-height: 25px;
    font-size: 16px;
    outline: none;
}

#main #section05 .cont-area .search-link .search .input-text:focus {
    outline: none; /* 포커스 상태에서 테두리 제거 */
    box-shadow: none; /* 혹시 있을 수 있는 그림자 제거 */
}

#main #section05 .cont-area .search-link .search .input-text:active {
    outline: none; /* 클릭 상태에서 테두리 제거 */
    box-shadow: none; /* 클릭 시 그림자 제거 */
}

#main #section05 .cont-area .search-link .search .btn {
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    background-color: transparent;
}
#main #section05 .cont-area .search-link .search .btn .ico-search {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
    vertical-align: middle;
}

.tit-area {
    display: flex; /* Flexbox로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 5px; /* 요소 간 간격 설정 */
}

.tit-area .movie-grade,
.tit-area .tit {
    margin: 0; /* 기본 여백 제거 */
}

.movie-grade.age-all {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
    background-size: 23px 23px;
}

.movie-grade.age-12 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
    background-size: 23px 23px;
}

.movie-grade.age-15 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
    background-size: 23px 23px;
}

.movie-grade.age-19 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/19_46x46.png);
    background-size: 23px 23px;
}

.movie-list ol li .tit-area .movie-grade {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.movie-grade {
    overflow: hidden;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-list ol {
    margin-left: -60px;
}

/*더보기 버튼*/
.btn-more.v1 .btn {
    border: 1px solid #eaeaea;
}

.btn-more .btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    background-color: transparent;
    color: #666;
}

.ico-btn-more-arr {
    width: 12px;
    height: 7px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-btn-more-arr.png);
}

.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}


/*개봉작버튼*/

.btn-onair {
    display: block;
    padding: 0 0 0 30px;
    background: url('https://img.megabox.co.kr/static/pc/images/common/btn/btn-on-air.png') no-repeat 0 2px;;
    border: none; /* 기본 버튼 스타일 제거 */
    cursor: pointer;
    font-size: 15px;
}

/* 버튼 활성 상태 (on 클래스 추가 시 스타일 변경) */
.btn-onair.on {
    background-position: 0 -17px;
}

.movie-list-util {
    overflow: hidden;
    margin-bottom: 15px;
}

#main #section05 .cont-area .main-movie-list > ol li .movie-list-info .wrap .score {
    overflow: hidden;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 10px 0 0 0;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    text-align: center;
}


#main #section05 .cont-area .main-movie-list > ol li .movie-list-info .wrap .score .preview {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 36px;
}

#main #section05 .cont-area .main-movie-list > ol li .movie-list-info .wrap .score .preview .tit {
    display: block;
    float: left;
    margin: 0 19px 0 0;
    font-size: 0.8667em;
}

#main #section05 .cont-area .main-movie-list > ol li .movie-list-info .wrap .score .preview .number {
    float: left;
    font-size: 1.6em;
    color: #59bec9;
}
