<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="">
        <environment id="">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--              <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/cinema_db"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="1111"/>-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://180.71.29.2:3306/cinema_db"/>
                <property name="username" value="sist_pj"/>
                <property name="password" value="Sist_project12!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/login.xml"/>
        <mapper resource="mybatis/mapper/guest.xml"/>
        <mapper resource="mybatis/mapper/register.xml"/>
        <mapper resource="mybatis/mapper/user.xml"/>
        <mapper resource="mybatis/mapper/movie.xml"/>
        <mapper resource="mybatis/mapper/review.xml"/>
        <mapper resource="mybatis/mapper/theater.xml"/>
        <mapper resource="mybatis/mapper/reservation.xml"/>
        <mapper resource="mybatis/mapper/timetable.xml"/>
        <mapper resource="mybatis/mapper/seat.xml"/>
        <mapper resource="mybatis/mapper/product.xml"/>
        <mapper resource="mybatis/mapper/event.xml"/>
        <mapper resource="mybatis/mapper/board.xml"/>
        <mapper resource="mybatis/mapper/myPage.xml"/>
        <mapper resource="mybatis/mapper/myMovieStory.xml"/>
        <mapper resource="mybatis/mapper/coupon.xml"/>
        <mapper resource="mybatis/mapper/point.xml"/>
        <mapper resource="mybatis/mapper/favoriteMovie.xml"/>
        <mapper resource="mybatis/mapper/dashboard.xml"/>
        <mapper resource="mybatis/mapper/admin.xml"/>
        <mapper resource="mybatis/mapper/adminTimetable.xml"/>
        <mapper resource="mybatis/mapper/theaterManagement.xml"/>
        <mapper resource="mybatis/mapper/myReservation.xml"/>
        <mapper resource="mybatis/mapper/reservationPayment.xml"/>
        <mapper resource="mybatis/mapper/payment.xml"/>
        <mapper resource="mybatis/mapper/adminManagement.xml"/>
        <mapper resource="mybatis/mapper/log.xml"/>
    </mappers>
</configuration>