<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="">
        <environment id="">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://180.71.29.2:3306/cinema_db"/>
                <property name="username" value="sist_pj"/>
                <property name="password" value="Sist_project12!"/>
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://180.71.29.2:3306/cinema_db"/>
                <property name="username" value="sist_pj"/>
                <property name="password" value="Sist_project12!"/>-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/board.xml"/>
        <mapper resource="mybatis/mapper/movie.xml"/>
    </mappers>
</configuration>